@import 'reset';

// 1rem = fontSize px
// 1px = (1/fontSize)rem
$fontSize: 37.5;
@function px2rem($px){
  @return ($px / $fontSize) + rem; 
}

@mixin  center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//iconfont图标默认样式
.icon{
  color: #333;
  font-size: px2rem(20);
}

//过渡动画
.up-enter, .up-leave-to{
  transform: translate3d(0,px2rem(108),0);
}
.up-enter-to,.up-leave,.down-enter-to,.down-leave{
  transform: translate3d(0,0,0);
}
.up-enter-active,.up-leave-active,.down-enter-active,.down-leave-active{
  transition: all .3s linear;
}
.down-enter, .down-leave-to{
  transform: translate3d(0,-100%,0);
}
.fade-enter,.fade-leave-to{
  opacity: 0;
}
.fade-enter-to,.fade-leave{
  opacity: 1;
}
.slide-right-enter,.slide-right-leave-to{
  transform: translate3d(-100%,0,0);
}